



{% extends 'main/profile.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
    body{
        background: #dfe9f5;
    }
        .form-container {
            max-width: 600px;
            margin: 50px auto;
            padding: 30px;
            border: 1px solid #e3e3e3;
            border-radius: 10px;
            background-color: #f9f9f9;
        }
        .form-title {
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
{% endblock link %}
{% block main %}
     <section class="main-course1">

            <div class="course-box1">


<div class="container form-container">
    <h2 class="form-title"> Куратор тағайындау</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="id_group">Топ</label>
            <select class="form-control" id="id_group" name="group">
                <option value="">-----</option>
                {% for t in top %}
                    <option value="{{ t.id }}">{{ t.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="id_kurator">Куратор</label>
            <select class="form-control" id="id_kurator" name="kurator">
                <option value="">-----</option>
                {% for t in teacher %}
                    <option value="{{ t.id }}">{{ t.first_name }} {{ t.last_name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Тіркеу</button>
    </form>
</div>

    </div>

          </section>
{% endblock main %}




